#quienSoy{
    background-image: url(../Multimedia/IMG/FondoQuienSoy.jpg); 
    @include fondoPantalla;
}

/*GENERO UN CAMBIO EN EL COLOR DEL BOTON MAS..*/
/*EL COLOR ES ROSA CON LETRAS NEGRAS */
/*CON HOVER, TENGO FONDO CELESTE Y AGRANDA TAMAÑO*/

@mixin button-bg($BackGroundg) {
    background: $BackGroundg;
    border-color: black;
    box-shadow: 2px 2px grey;
    &:hover {
        background:$ColorRosa;
        transform: scale(1.2);
    }
}

@mixin btn-txt($TipoFuente) {
    text-decoration:none;
    padding:5px;
    border-radius:3px;
    font-family: $TipoFuente;
    color: $ColorMarron;
    font-weight: bolder;
    font-size:0.8rem;
    @media screen and (min-width: $pantallaMediana) { /*ESTILO LA FOTO DE ACUERDO A RESOLUCION*/
        font-size: 1.1rem;
    }
    @media screen and (min-width: $pantallaGrande) {
        font-size: 1.5rem;
    }
}

.btn-color {
    @include button-bg($ColorPastel);
    color:black;
}

.btn-texto{
    @include btn-txt('Poiret One,cursive');
} 

/*CAMBIO EL COLOR DEL BOTON DE MAS.. DEL COLLAPSE*/
.mainQuienSoy.contenedor.btn {
    color:white;
    text-decoration:none;
    padding:5px 10px;
    border-radius:3px;
    font-family: 'Poiret One', cursive;
    font-size:2em;
}

.mainQuienSoy{
    &__fotoMari{
        & img{
            @media screen and (max-width: $pantallaChica) { /*ESTILO LA FOTO DE ACUERDO A RESOLUCION*/
                width: 120px;
                height: auto;
                border: 1px solid white;
                border-radius: 5px;
            }
            @media screen and (min-width: $pantallaMediana) {
                width: 180px;
                border: 2px solid white;
                border-radius: 10px;
            }
        }
    }
    &__contenedor{
        & p{
            font-family: $fuente;
            color: $ColorMarron;
            font-weight: bold;
            background: $ColorPastel;
            font-size: $FontSize;
            border-radius: 5px;
            @media screen and (min-width: $pantallaMediana) {
                font-size: $FontSize + 10px;
            } 
            @media screen and (min-width: $pantallaGrande) {
                font-size: $FontSize + 14px;
            } 
        }
        &__detalle{ /*ESTILO LA LETRA DEL CONTENEDOR*/
            font-family: $fuente;
            color: white;
            text-shadow: 1px 1px $ColorMarron;
            font-size: $FontSize;
            text-align: justify;    
            padding: 5px;

            &--fondo{
                background: $ColorRosa;
            }
            @media screen and (min-width: $pantallaMediana) {
                font-size: $FontSize + 2px;
                letter-spacing: 1px;    /* ACA REPITO ESPACIO ENTRE LETRAS, PARRAGOS Y PALABRAS*/
                word-spacing: 1px;
            } 
            @media screen and (min-width: $pantallaGrande) {
                font-size: $FontSize + 4px;
            }
            
            & img{  /*ESTILO LA IMAGEN DENTRO*/
                border: 1px solid black;
                box-shadow: 2px 2px white;
                width: 80px;
                height: auto;
                background-color: white;
                opacity: 60%;
                border-radius: 2px;
                @media screen and (min-width: $pantallaMediana) {
                    justify-items: center;
                    width: 100px;
                }
                @media screen and (min-width: $pantallaGrande) {
                    width: 140px;
                }
            }
            & a{    /*ROMPRO LA ESTRUCTURA DE LA IMAGEN DEL LOGO PARA CENTRARLA*/
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            & iframe{ /*ESTILO EL VIDEO*/
                border: 2px solid white;
                border-radius: 10px;
            }
        }
    }
}

.articleQuienSoy{
    & h3{   /*ESTILO EL DETALLE DEL ARTICULO QUIEN SOY*/
        font: oblique;
        color: lightgreen;
        text-shadow: 1px 1px black;
        font-weight: bold;
        font-size: $FontSize + 2px;
        margin: 10px 0px 10px 0px;
        border-top: 1px solid white;
        text-align: center;
        @media screen and (min-width: $pantallaMediana) {
            font-size: 24px;
            margin-left: 10px 0px 10px 10px;           
        }
        @media screen and (min-width: $pantallaGrande) {
            font-size: 32px;
            text-shadow: 1px 2px BLACK; 
            margin-left: 10px 0px 10px 10px;
        }
    }
}   

.articleQuienSoy__pasteleros{  /*ESTILO LAS FOTOS D LOS PASTELEROS Y LE DOY ANIMACION, EN TODOS HAGO LO MISMO*/
    background: white;
    opacity: 90%;
    &__pedroLambertini{
        justify-content: space-between;
        & img{
            border: 1px solid black;
            border-radius: 15px;
            width: 170px;
            height: auto;
        }
        & img:hover{
            animation: pulse;
            animation-duration: 2s;
        }
    }
    &__osvaldoGross{
        justify-content: space-between;
        & img{
            border: 1px solid black;
            border-radius: 10px;
            width: 170px;
            height: auto;
        }
        & img:hover{
            animation: pulse;
            animation-duration: 2s;
        }
    }
    &__annaOlson{
        justify-content: space-between;
        & img{
            border: 1px solid black;
            border-radius: 10px;
            width: 170px;
            height: auto;
        }
        & img:hover{
            animation: pulse;
            animation-duration: 2s;
        }
    }
    &__damianBetular{
        justify-content: space-between;
        & img{
            border: 1px solid black;
            border-radius: 10px;
            width: 170px;
            height: auto;
        }
        & img:hover{
            animation: pulse;
            animation-duration: 2s;
        }
    }

    @media screen and (min-width: $pantallaMediana){ /*CAMBIO TAMAÑOS DE FOTOS DE ACUERDO A RESOLUCION*/
        background: white;
        opacity: 90%;
        &__pedroLambertini img{
            height: 180px;
            width: 150px;
            margin: auto;
        }
        &__osvaldoGross img{
            height: 180px;
            width: 150px;
            margin: auto;
        }
        &__annaOlson img{
            height: 180px;
            width: 150px;
            margin: auto;
        }
        &__damianBetular img{
            height: 180px;
            width: 150px;
            margin: auto;
        }
    }

    @media screen and (min-width: $pantallaGrande){
        background: white;
        opacity: 90%;
        &__pedroLambertini img{
            height: 280px;
            width: 200px;
            margin: auto;
        }
        &__osvaldoGross img{
            height: 280px;
            width: 200px;
            margin: auto;
        }
        &__annaOlson img{
            height: 280px;
            width: 200px;
            margin: auto;
        }
        &__damianBetular img{
            height: 280px;
            width: 200px;
            margin: auto;
        }
    }
}